{% extends 'base.html' %}

{% block title %} 
    Editar Empleado 
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">
                Modificar Empleado
            </h1>
            <div class="cell">
                <form class="grid-x grid-margin-x" method="POST">{% csrf_token %}

                    <div class="cell large-6">
                        <label>Nombre(s):
                            <label >{{ form.first_name }}</label>
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>Apellido(s):
                            <label >{{ form.last_name }}</label>
                        </label>
                    </div>
                    <div class="cell large-6">
                        <label>Trabajo:
                            <label >{{ form.job }}</label>
                        </label>
                    </div>
                    <div class="cell large-12">
                        <label>Área:
                            <label >{{ form.departamento }}</label>
                        </label>
                    </div>
                    <div class="cell large-12">
                        <label>Habilidades Extra:
                           <label >{{ form.habilidades }}</label>
                        </label>
                    </div>
                    <div class="cell">
                        <button type="submit" class="success button">Actualizar</button>
                    </div>
 
     
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
    
